* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.login-body {
    background-image: url("../images/login_background2.jpg");
}

.login-bg {
    background-color: rgba(255, 255, 255, 0.533);
    border-radius: 10px;
}